.topbar {color: #eee;font-size: 12px;background: #8c074f;padding: 0.2em;}
.navbar-default {background-color: #c60c71;border-color: transparent;}
.navbar-brand {margin-bottom: 10px;}
.navbar-brand img {max-height: 40px;}
a {color: #c60c71;}
a:hover, a:focus {color: #8c074f;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #8c074f;}